body{
    background-color: black;
    text-align: center;
}

a{
    font-size: 18px;
    color: aquamarine;
}


#top_header{
    font: Veranda;
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
}

#gray_head{
    color: gray;
    font-size: 21px;
    font: Veranda;
}

.subheads{
    font: Veranda;
    color: white;
    font-weight: 300;
    font-size: 42px;
}

#copyright{
    font: Veranda;
    color: gray;
    text-align: right;
    font-size: 21px;
}